body {
    background-color: rgb(157, 204, 226);
    box-sizing:border-box;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

  .kopsurat {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(108, 108, 192);
    padding: 10px;
  }

  .penulisan {
    font-family: 'Times New Roman', Times, serif;
    text-indent: 15px;
    margin-bottom: 0px;
  } 

  .flex-parent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .punya_rosnita {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }

  .input {
    width: 70%;
  }

  .label {
    width: 30%;
  }

  .gol_darah {
    margin-left: 20px;
  }

  .form2 {
    display: flex;
    justify-content: space-around;
  }

  .tanggal_pengiriman {
    display: flex;
    flex-direction: column;
  }

  input[type="text"],
  input[type="date"] {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  hr {
    width: 90%;
    height : 2px;
    background-color: white;
  }


  button {
    background-color:lightgoldenrodyellow;
    transition: 0.2s;
    font-style: italic;
    text-align: center;
    color: light;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
  }

   button:hover{
    color: white;
    letter-spacing: 2px;
  }

@media screen and (max-width: 800px) {
  .kopsurat {
    width: 75%;
    padding: 0;
  }
  .punya_rosnita {
    flex-direction: column;
    gap: 5px;
  }
  .input {
    width: 100%;
  }
  .label {
    width: 100%;
  }
  .catatan {
    visibility: visible;
  }
  .title {
    font-size: 1rem;
  }
}

  @media screen and (max-width: 410px) {
    .kopsurat {
      width: 100%;
      padding: 0;
    }
    .punya_rosnita {
      flex-direction: column;
      gap: 5px;
    }
    .input {
      width: 100%;
    }
    .label {
      width: 100%;
    }
    .catatan {
    visibility: hidden;
    }
  }
