body{
	background-color: #eee;
}

img{
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	cursor: pointer;
	width: 150px;
	border-radius: 50%;
	box-shadow: 1px 1px 4px white;
	padding: 10px;
	transition: 0.5s;
}

img:hover{
	transform: scale(1.1);
}

h2{
	margin: auto;
}

p{
	margin-bottom: auto;
}

.navigasi{
    background-color: grey;
    padding: 15px;
}

.menu{
	padding: 15px;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.menu:hover{
	background-color: rgb(56, 240, 56);
}

.aktif{
	background-color: rgb(37, 141, 37);
}

.home{
	background-color: white;
	padding: 15px;
    text-align: justify;
}

.isi{
	display: none;
	background-color: white;
	padding: 15px;
    text-align: justify;
}

.kembali{
	border: none;
	border-radius: 7px;
	background-color: red;
	color: white;
	padding: 15px;
	margin-top: 12px;
	cursor: pointer;
	transition: 0.5s;
}

.kembali:hover{
	background-color: rgb(150, 30, 30);
}
